body,
html {
  height: 100%;
}

body {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > * {
  font-size: 1.1rem;
}

#weather {
  max-width: 32rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather > h1 {
  grid-column: span 2;
}

@media (orientation: portrait) {
  #weather {
    text-align: center;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 25%;
  }
}

#weather.loading {
  & h1::before,
  & p::before {
    content: "▊▊▊▊▊▊▊▊▊▊";
  }

  animation: 1s infinite alternate fade-out;
}
